.c_card {
    overflow: hidden;
    background-color: rgb(66, 66, 66);
    border: 1px inset #149ddd;
    position: fixed;
    float: right;
    
}

.c_card:hover {
    color: #49c5ff;
    background-color: rgb(117, 112, 112);
    text-decoration: none;
}