.c_card {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    border: 1px inset #149ddd;
    position: fixed;
    float: right;
    
}

.c_card:hover {
    color: #49c5ff;
    background-color: rgb(0, 89, 255);
    text-decoration: none;
}