.c_card {
    width: 50%;
    height: 50%;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    border: 1px inset #149ddd;
    float: right;
}

.c_card:hover {
    transform: scale(50);
}